.Menu {
    background-color: rgb(215, 216, 236);
    min-width: 150px;
    width: 15%;
    border: 1px solid rgb(170, 170, 170);
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

#menu-link-list {
    list-style-type: none;
    padding: 0 10% 0 15%;
}

#menu-link-list>li {
    margin: 30px 0;
}

.menu-link {
    display: block;
    background-color: rgb(98, 106, 252);
    padding: 5px 15px;
    min-width: 10px;
    min-height: 30px;
    text-align: center;
    text-decoration: none;
}

.menu-link:visited {
    color: black;
}

.menu-link-active {
    background-color: rgb(177, 181, 255);
    color: rgba(0, 0, 0, 0.582);
}